<header>
    <h1>
      <%- page.title %>
    </h1>
    <div class="post-meta">
      <time datetime="">
        <%- date(page.date, "YYYY-MM-DD") %>
      </time>
    </div>
</header>

<article>
  <%- page.content %>
</article>
